@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

@import url("https://fonts.googleapis.com/css?family=Roboto");

html, body, * {
  box-sizing: border-box;
  font-size: 16px;
}

html,body {
  height: 100%;
  text-align: center;
}

body {
  padding: 2rem;
  background: #f8f8f8;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 1;
  color: #104E8B;
  margin-bottom: 0;
  text-align: center;
}
h4{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #104E8B;
  margin-bottom: 0;
  text-align: center;
}

.uploader {
  margin-left: 30%;
  margin-right: 30%;
  background-color: lightblue;
  padding: 2rem;
  text-align: center;
  padding: 2rem 1.5rem;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
}

.imageLoader{
  align-items: center;
  margin-top: 10%;
  max-width: 50%;
}

.buttonHolder{
  text-align: center;
}

#processed{
    width: 50%;
    height: 50%;
    text-align: center;
}

#result{
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1;
  color: #104E8B;
  margin-bottom: 0;
  text-align: center;
  font-style: border;
}

#loader-container {
  display: none;
  justify-content: center;
}

.loader {
  border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3e3e3e;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.credit {
  font-family: "Roboto", sans-serif;
  margin-left: 30%;
  margin-right: 30%;
  background-color: lightblue;
  padding: 2rem;
  text-align: left;
  padding: 2rem 1.5rem;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.column-1 {
  float: left;
  width: 55%;
  padding: 10px;
  text-align: center;
}

.column-2 {
  float: left;
  width: 45%;
  padding: 10px;
  text-align: center;
  color: #000000;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.createdBy{
  font-size: 14px;
  line-height: 20px;
}

a{
  font-size: 14px;
  text-decoration: none
}

.link{
  color: #000000;
}